.mole-grid {
  background: green url('https://withinsight.github.io/whackamole-jquery/img/bg-grass.jpg') repeat 0 0;
  background-color: green;
}

.hole-container {
  height: 50px;
  overflow: hidden;
}

.hole {
  height: 50px;
  width: 150px;
  background-color: #000;
  border-radius: 50%;
}

.mole {
  transition: 0.3s linear all;
  position: relative;
  top: 0;
  height: 50px;
  width: 150px;
  border-radius: 50%;
  background: transparent url('https://withinsight.github.io/whackamole-jquery/src/img/mole-waving.png') no-repeat 50% 0;
  background-size: 100px;
}

.mole.show {
  top: -50px;
}
